<footer>
    <div class="fo">
        <div class="row text-center">
            <div class="col-md-4">
                <img src="assets/img/saima-logo.jpg">
                <hr class="light">
                <span style="color: white; position: absolute; top: 31.6%; left: 21%;"><i class="large material-icons">phone</i></span>      <p>234-8033280369</p>
                <p>234-8023876301</p>
                <span style="color: white; position: absolute; top: 58.5%; left: 14%;"><i class="large material-icons">mail_outine</i></span>       <p>Abratech@securityservice.com</p>
                <span style="color: #a81010; position: absolute; top: 73%; left: 14%;"><i class="large material-icons">location_on</i></span>        <p>2A Mobolaji Bank Anthony Way,</p>
                <p>Opp Mr Biggs, Maryland Lagos  Nigeria.</p>
            </div>

            <div class="col-md-4">
                <hr class="light">
                <span style="color: #a81010;"><i class="large material-icons">access_time</i></span>          <h5>Our Hours</h5>
                <hr class="light">
                <p>Monday - Friday <span>8:00am - 5:00pm</span></p> 
                <p>Weekends</p>
            </div>

            <div class="col-md-4">
                <hr class="light">
                <span style="color: #a81010;"><i class="large material-icons">work</i></span>        <h5>MARKETS</h5>
                <hr class="light">
                <p>Banking institutions</p>
                <p>Homes</p>
                <p>Airports</p>
                <p>Sports facilities / Public events</p>
            </div>

           

            <div class="col-12">
                <hr class="light">
                <h5>&copy; COPYRIGHT © 2008 -2020. ABRATECH SECURITY SERVICE |A.S.S| ALL RIGHTS RESERVED. DISCLAIMER | PRIVACY STATEMENT</h5>
            </div>
        </div>
    </div>
</footer>


