<div class="container">
<div class="about mt-3">
  <h4>About Us</h4>
    <p>
       
    Abratech Ventures services Limited is a full fledged  Technical and Servicing Company vastly experienced in SAIMA Securezza S.p.A products like ELE2000c, Ele strong, Chimera, Multi-transito Security man trap doors and ATM Box Protection cage, Corvetta, Cima and Cubicles doors. 
  <br>
        We have established our reputation at the forefront of security companies in Nigeria, utilizing a wide range of the most advanced security systems, teams of high-standard and leading security means using the latest technological equipment and knowledge.
        Abratech Ventures was incorporated in 2009 (Rc. 850957) as an engineering company.

        Abratech Ventures is an accredited distributor of Saima Sicurezza S.P.A security metal detector booths in Nigeria market. 
        
        Abratech Ventures have been certified by Saima and Acetech as their authorized company that handle the installation, Repair and provide maintenance services after sales to all their products in Nigeria and some part of Africa. 
        
        A member of Computer Professional Association. (CPN)
    </p>
<!-- 
    <ul>
      <li>Hotel Door Lock System</li>
      <li>Electric fence </li>
      <li>Modern RF Hotel Door Lock</li>
      <li>Access Control and Time Attendance Systems
        <ul>
          <li>Access Control Card</li>
          <li>Card Readers</li>
          <li>Time Attendance Systems</li>
        </ul>
      </li>
      
    </ul>
     -->
     <h1 style="text-align: center; margin-bottom: 10px;">Why Choose Abratech</h1>
     <div>
       <h1> Turn around Time: (TAT) </h1>
       <p>
        Our time responses to call outs have been excellent within Lagos to the any affected branch. We will be get through within 6hours, while in the west and mid-west regions our response time are within 12hours, except if there’s any circumstances that are beyond our control.
       </p>
     </div>

     <div>
       <h1>Integrity: </h1>
       <p>
        We have maintained a good integrity with our clients which include UBA Plc, Fidelity Bank Plc, AB-Microfinance Bank and others private organizations. Our engineer’s diagnosis are detailed and whatever engineers are found to be a faulty part(s) on a door is /are always re-confirmed by our office back –up team.
       </p>
     </div>

     <div>
       <h1>Quality of Products / Services: </h1>
       <p> Our quality of services have given us an edge over most Security Vendors in UBA Plc, especially, because whenever we carry out routine maintenance, our team of Engineers always open all the base, clean and remove all sand / particles at the door base, carried out all necessary door wings adjustment and software adjustment / re-configuration.
      </p>
     </div>
      <h3 style="background:coral; padding:10px; color: white; font-size: 20px;">In the case of weak part or faulty part that need replacement at any branch, we communicate to appropriate department to get necessary approval on completion of the servicing exercise.</h3>

     <div>
       <h1>Spare Parts Availability:</h1>
       <p>It has been our company quarterly policy to re –stock our spare parts from our Manufacturers (SAIMA and Acetech in order to give our clients quality services they require.
      </p>
     </div>

     <div>
       <h1>Engineer’s Training: </h1>
       <p>Abratech Ventures maintain seasoned engineers and technicians which undergo training directly from our manufacturers in Italy and also in Nigeria. As part of our culture, we always carry out in house refreshment training twice  a year for all our technical team.</p>
     </div>
</div>

<div class="card">
  <h6><strong>Contact Us</strong></h6>
  <input type="text" placeholder="Name" class="input">
  <input type="email" placeholder="Email" class="inputi">

  <div class="select"> 
    <span>Subject</span>
              <select class="mdb-select">
                  <option value="" selected>Choose option</option>
                  <option value="1">Request A callout</option>
                  <option value="2">Report a bug</option>
                  <option value="3" disabled>Feature request</option>
                  <option value="4">Feature request</option>
              </select>
  </div>
  

      <input type="text" class="form-control message" placeholder="Type in your message"> 



<button class="btn btn-primary  butt" type="submit">Send</button>
</div>