
h4{
    color: #a81010;
    text-align: center;
}

.about{
    width: 100%;
    padding: 7px;
}

.card{
   
	width: 70%; 
	height: 60vh;
    padding: 9px;
	border-radius: 10px;  
	border: 1px solid #a81010;
	margin-bottom: 20px;
	margin-left: 10px;
  
}


.lead{
    width: 100%;
}

#input{

    width: 100%;
}

.input{
	width: 45%;
	padding: 7px;
	border: 1px solid #a81010;
	border-radius: 10px;
	position: absolute;
	top: 23%;
}

.inputi{
	width: 45%;
	padding: 7px;
	border: 1px solid #a81010;
	border-radius: 10px;
	position: absolute;
	top: 23%;
	left: 49%;
}

.select{
	position: absolute;
	top: 37%;

}

.select span{
	margin-right: 10px;
	color: #a81010;
}

.message{
	position: absolute;
	top: 49%;
	width: 90%;
	height: 15vh;
	border: 1px solid #a81010;
	border-radius: 10px;
	margin-left: 10px;

}

.check{
	position: absolute;
	top: 67%;
}

.butt{
	position: absolute;
	top: 80%;
	border: 1px solid #a81010;
	border-radius: 10px;
	width: 90%;
	background: #a81010;
	margin-left: 10px;
}
/* Screens Resolution : 992px
-------------------------------------------------------------------------- */
@media only screen and (max-width: 1200px) {
    
    .card{
        width: 100%;
    }

	
.input{
	width: 90%;
	padding: 7px;
	border: 1px solid #a81010;
	border-radius: 10px;
	position: absolute;
	top: 15%;
	margin-left: 13px;
}

.inputi{
	width: 90%;
	padding: 7px;
	border: 1px solid #a81010;
	border-radius: 10px;
	position: absolute;
	top: 35%;
	left: 4%;
	margin-left: 10px;

}

.select{
	position: absolute;
	top: 47%;
	margin-left: 10px;

}

.select span{
	margin-right: 10px;
	color: #a81010;
}

.message{
	position: absolute;
	top: 57%;
	width: 90%;
	height: 15vh;
	border: 1px solid #a81010;
	border-radius: 10px;
	margin-left: 10px;

}

.check{
	position: absolute;
	top: 67%;
}

.butt{
	position: absolute;
	top: 86%;
	border: 1px solid #a81010;
	border-radius: 10px;
	width: 90%;
	background: #a81010;
	margin-left: 10px;
}
	
}

/* screens resolution for laptop*/
@media (min-width: 1281px) {
  
    .card{
        width: 50%;
    }
    
    .sub{
       text-align: center;
      position: relative;
      left:50%;
	}
	
	h1{
		color: #a81010;
		font-size: 23px;
	}
  }

/* Phone  */

  @media only screen and (max-width: 1200px) {

  }