<div class="container">
<div class="about mt-3">
  <h4>About Us</h4>
    <p>
        Abratech Security Ventures is a Nigerian limited liability company registered in Nigeria for the provision of advanced security technology services.
        <br>
        We have established our reputation at the forefront of security companies in Nigeria, utilizing a wide range of the most advanced security systems, teams of high-standard and leading security means using the latest technological equipment and knowledge.
        Our company is the first choice of many security-conscious organizations, businessmen, and high-profile figures. Among our clients are prime ministers, ministers, high-ranking visitors from abroad including the Pope, and many others.
    </p>

    <ul>
      <li>Hotel Door Lock System</li>
      <li>Electric fence </li>
      <li>Modern RF Hotel Door Lock</li>
      <li>Access Control and Time Attendance Systems
        <ul>
          <li>Access Control Card</li>
          <li>Card Readers</li>
          <li>Time Attendance Systems</li>
        </ul>
      </li>
      
    </ul>
    
</div>

<div class="card">
  <h6><strong>Contact Us</strong></h6>
  <input type="text" placeholder="Name" class="input">
  <input type="email" placeholder="Email" class="inputi">

  <div class="select"> 
    <span>Subject</span>
              <select class="mdb-select">
                  <option value="" selected>Choose option</option>
                  <option value="1">Request A callout</option>
                  <option value="2">Report a bug</option>
                  <option value="3" disabled>Feature request</option>
                  <option value="4">Feature request</option>
              </select>
  </div>
  

      <input type="text" class="form-control message" placeholder="Type in your message"> 



<button class="btn btn-primary  butt" type="submit">Send</button>
</div>