<div id="conatctus">
    <h5>Contact us </h5>
    <p>We will be happy to find the best solution for you</p>
</div>

<div style="width: 30rem; height:10rem; background-color: blueviolet; margin-top: 20px;">
    <h3>Abratech V</h3>
    <p>If you prefer to use our direct contacts you can write us an email or call us at the following numbers:</p>

    <div class="col-md-4">
      
        <span style="color: white; position: absolute; top: 31.6%; left: 21%;"><i class="large material-icons">phone</i></span>      <p>234-8033280369</p>
        <p>234-8023876301</p>
        <span style="color: white; position: absolute; top: 58.5%; left: 14%;"><i class="large material-icons">mail_outine</i></span>       <p>Abratech@securityservice.com</p>
        <span style="color: #a81010; position: absolute; top: 73%; left: 14%;"><i class="large material-icons">location_on</i></span>        <p>2A Mobolaji Bank Anthony Way,</p>
        <p>Opp Mr Biggs, Maryland Lagos  Nigeria.</p>
    </div>
</div>
