
<span id="head">
    After Sales
</span>
<div class="info">
    <p>The installers find Acetech a constant point of reference during all the installation phases, with the utmost respect for all the roles of the supply chain. Upon request, we also take care of installation, positioning and first start-up, usually the most delicate step.</p>
</div>
<img src="assets/modu.jpg" alt="" class="mh">
<div class="mod">
   
    <h4>Modular products with competitive maintenance costs</h4>
    <p>Our anti-robbery compasses and our metal detectors can be completely dismantled and easily reassembled even in environments that are difficult to access , such as historic buildings or high floors. Essential feature that combines with ease of use and configuration.</p>
    <p>Our job, in fact, is to develop intuitive and simple assembly products. This is a determining element in the evaluation of an investment in anti-robbery compasses or metal detectors, because in addition to having very competitive prices , Acetech products have extremely low post-sale maintenance costs.</p>
</div>

<div class="moh">
   
    <h4>Timely responses and targeted solutions</h4>
    <p>For a widespread after-sales service,<strong>Abratech technical support is provided by each department manager .</strong>  Based on the client's need, the most prepared person will be ready to give timely answers and targeted solutions.</p>
    <p>We at Acetech believe that our support is fundamental for our customers. We organize <strong>training courses</strong> both at our headquarters and all over the world to get to know our anti-theft compasses and our metal detectors up close and to understand their mechanics and electronics with our designers and technicians. Thus, we offer an important advantage in terms of <strong> reducing installation and maintenance times and costs .</strong> </p>
</div>
<img src=" assets/response.jpg" alt="" class="watch">