.butt{
    background-color: rgb(163, 52, 8);
    border: 1px solid brown;

}

.Shipping{
    margin-top: 22px;
}

.row{
    margin-left: 12px;
}

  /* Screens Resolution : 992px
-------------------------------------------------------------------------- */
@media only screen and (max-width: 1200px) {
    /* mobile */
    #search{
        width: 70%;
        padding: 7px;
        border: 1px solid tomato;
        border-radius: 20px;
    }

    .butt{
        margin-left: 13px;
    }

    ::placeholder{
        margin-left: 20px;
    }

}

/* screens resolution */
@media (min-width: 1281px) {
    /* laptop */
     
    #search{
        width: 50%;
        padding: 7px;
        border: 1px solid tomato;
        border-radius: 20px;
    }

    .butt{
        margin-left: 13px;
        border-radius:7px ;
    }
    }