


        <!-- <div class="col-lg-5">
            <div class="bg-light rounded-pill px-4 py-3 text-uppercase font-weight-bold">Review For The Seller </div>
                        <div class="p-4">
                            <p class="font-italic mb-4">If you have some information for the seller you can leave them in the box below</p>
                            <textarea name="" cols="30" rows="2" class="form-control"></textarea>
                        </div>
                        </div>
      </div> -->
      
    <!-- <div class="col-lg-6 Shipping" style="float: right; margin-top: -21%;">
      <div class="bg-light rounded-pill px-4 py-3 text-uppercase font-weight-bold" style="background-color: #a81010;">Order summary </div>
      <div class="p-4">
        <p class="font-italic mb-4">Shipping and additional costs are calculated based on values you have entered.</p>
        <ul class="list-unstyled mb-4">
          <li class="d-flex justify-content-between py-3 border-bottom"><strong class="text-muted">Order Subtotal </strong><strong>$390.00</strong></li>
          <li class="d-flex justify-content-between py-3 border-bottom"><strong class="text-muted">Shipping and handling</strong><strong>$10.00</strong></li>
          <li class="d-flex justify-content-between py-3 border-bottom"><strong class="text-muted">Tax</strong><strong>$0.00</strong></li>
          <li class="d-flex justify-content-between py-3 border-bottom"><strong class="text-muted">Total</strong>
            <h5 class="font-weight-bold">$400.00</h5>
          </li>
        </ul><a href="#" class="btn btn-dark rounded-pill py-2 btn-block" style="background-color: #a81010; border:none;">Procceed to checkout</a>
      </div>
    </div>
</div> -->



<div class class="container mt-3 ">
  <input type="search" placeholder="Search" id="search"> 
  <button class="btn btn-primary butt">Search </button>
  <div class="row">
    <div class="col-sm mt-3">
      <img src="assets/img/Flir A320 fever screening camera.png" alt="" width="70" class="img-fluid rounded shadow-sm">
      <td class="align-middle"><strong>$79.00</strong></td>
     <p>This one iss...</p>
      <td class="align-middle"><a href="#" ><button class="btn btn-primary butt"> Add to cart</button></a></td>
    </div>
    <div class="col-sm mt-3">
      <img src="assets/img/Triton PT-Series HD.png" alt="" width="70" class="img-fluid rounded shadow-sm">
      <td class="align-middle"><strong>$79.00</strong></td>
      <br>
      <td class="align-middle"><a href="#" class="text-dark"><button class="btn btn-primary butt"> Add to cart</button></a></td>
    </div>
    <div class="col-sm mt-3">
      <img src="assets/img/Elara FB-Series ID.png" alt="" width="70" class="img-fluid rounded shadow-sm">
      <td class="align-middle"><strong>$79.00</strong></td>
      <br>
      <td class="align-middle"><a href="#" class="text-dark"><button class="btn btn-primary butt"> Add to cart</button></a></td>
    </div>

    <div class="col-sm mt-3">
      <img src="assets/img/Triton PT-Series HD.png" alt="" width="70" class="img-fluid rounded shadow-sm">
      <td class="align-middle"><strong>$79.00</strong></td>
      <br>
      <td class="align-middle"><a href="#" class="text-dark"><button class="btn btn-primary butt"> Add to cart</button></a></td>
    </div>
    <div class="col-sm mt-3">
      <img src="assets/img/Elara FB-Series ID.png" alt="" width="70" class="img-fluid rounded shadow-sm">
      <td class="align-middle"><strong>$79.00</strong></td>
      <br>
      <td class="align-middle"><a href="#" class="text-dark"><button class="btn btn-primary butt"> Add to cart</button></a></td>
    </div>

    <div class="col-sm mt-3">
      <img src="assets/img/Triton PT-Series HD.png" alt="" width="70" class="img-fluid rounded shadow-sm">
      <td class="align-middle"><strong>$79.00</strong></td>
      <br>
      <td class="align-middle"><a href="#" class="text-dark"><button class="btn btn-primary butt"> Add to cart</button></a></td>
    </div>
    <div class="col-sm mt-3">
      <img src="assets/img/Elara FB-Series ID.png" alt="" width="70" class="img-fluid rounded shadow-sm">
      <td class="align-middle"><strong>$79.00</strong></td>
      <br>
      <td class="align-middle"><a href="#" class="text-dark"><button class="btn btn-primary butt"> Add to cart</button></a></td>
    </div>
  </div>

  

  <div class="row">
    <div class="col-sm">
      <img src="assets/img/Flir A320 fever screening camera.png" alt="" width="70" class="img-fluid rounded shadow-sm">
      <td class="align-middle"><strong>$79.00</strong></td>
      <br>
      <td class="align-middle"><a href="#" class="text-dark"><button class="btn btn-primary butt"> Add to cart</button></a></td>
    </div>
    <div class="col-sm">
      <img src="assets/img/Elara FB-Series ID.png" alt="" width="70" class="img-fluid rounded shadow-sm">
      <td class="align-middle"><strong>$79.00</strong></td>
      <br>
      <td class="align-middle"><a href="#" class="text-dark"><button class="btn btn-primary butt" > Add to cart</button></a></td>
    </div>
    <div class="col-sm">
      <img src="assets/img/Elara FB-Series ID.png" alt="" width="70" class="img-fluid rounded shadow-sm">
      <td class="align-middle"><strong>$79.00</strong></td>
      <br>
      <td class="align-middle"><a href="#" class="text-dark"><button class="btn btn-primary butt"> Add to cart</button></a></td>
    </div>
    <div class="col-sm mt-3">
      <img src="assets/img/Triton PT-Series HD.png" alt="" width="70" class="img-fluid rounded shadow-sm">
      <td class="align-middle"><strong>$79.00</strong></td>
      <br>
      <td class="align-middle"><a href="#" class="text-dark"><button class="btn btn-primary butt"> Add to cart</button></a></td>
    </div>
    <div class="col-sm mt-3">
      <img src="assets/img/Elara FB-Series ID.png" alt="" width="70" class="img-fluid rounded shadow-sm">
      <td class="align-middle"><strong>$79.00</strong></td>
      <br>
      <td class="align-middle"><a href="#" class="text-dark"><button class="btn btn-primary butt"> Add to cart</button></a></td>
    </div>
  </div>

  <div class="col-lg-6 Shipping" >
    <div class="bg-light rounded-pill px-4 py-3 text-uppercase font-weight-bold" style="background-color: #a81010;">Order summary </div>

    <div class="p-4">
      <p class="font-italic mb-4">Shipping and additional costs are calculated based on values you have entered.</p>
      <ul class="list-unstyled mb-4">
        <li class="d-flex justify-content-between py-3 border-bottom"><strong class="text-muted">Order Subtotal </strong><strong>$390.00</strong></li>
        <li class="d-flex justify-content-between py-3 border-bottom"><strong class="text-muted">Shipping and handling</strong><strong>$10.00</strong></li>
        <li class="d-flex justify-content-between py-3 border-bottom"><strong class="text-muted">Tax</strong><strong>$0.00</strong></li>
        <li class="d-flex justify-content-between py-3 border-bottom"><strong class="text-muted">Total</strong>
          <h5 class="font-weight-bold">$400.00</h5>
        </li>
      </ul><a href="#" class="btn btn-dark rounded-pill py-2 btn-block" style="background-color: #a81010; border:none;">Procceed to checkout</a>
    </div>
  </div>

           
</div>