<div class="container">

<img class="d-block w-100" src="assets/img/slide6-1.jpg" alt="Third slide">

<!-- <div id="slider">
  <figure>
    <img class="d-block w-100" src="assets/img/Roma-1500x397.jpg" alt="First slide">
    <img class="d-block w-100" src="assets/img/slide1-2-1.jpg" alt="Second slide">
    <img class="d-block w-100" src="assets/img/slide6-1.jpg" alt="Third slide">
  </figure>
  </div> -->
<!--- Welcome Section -->
<div class="padding">
    <div class="row welcome text-center">
        <div class="col-12">
            <h1 class="display-4">Built with ease.</h1>
        </div>
        <hr>
        <div class="lead">
            <p> Abratech Security Service is an indegenous compamy incorporated in 2009 (Rc. 850957 to undertake the business of Supply, Installation and Maintenance of Bank Vaults, Safes, Filing Cabinets, Note Counters/Currency Detectors, Cash Island/Exit/Bulletproof Doors, Security Booths/Metal Detector Doors to the banking industry, maintenance of ATM machines and CCTV Cameras.
               We are accredited major distributor in Nigeria of Security Entrance Doors/ Security Booths from Saima Sicurezza in Italy, Cima doors from Mirandola in Italy.
                
             We offer technicial advice to our customers, provide prompt response to call-out requests, excellent after sales service and in addition, carry out programmed preventative maintenance of all equipments that we supply.
             </p>
        </div>
    </div>
</div>	

<!--- Three Column Section -->

        <div class="col-xs-12 col-sm-6 col-md-4 door">
            <img src="assets/Antitef.jpg" alt="" class="img" style="width: 40%; height: 50%; margin-left:70px; margin-bottom: 10px;">
            <h3>ANTI-THEFT BUSHES </h3>
            <p>Wide range of anti-robbery monoblocks, of pleasant design, with or without metal detector incorporated or connected to the structure itself, served by dedicated and exclusive management electronics.
              Easy to interface with biometric systems and dedicated access control.
              These devices are particularly suitable in environments where a high level of security is required, such as Embassies, Airports, Courts, Public Administrations, Banking Institutes, Jewelers, Penitentiary Institutes and Caveau.</p>
        </div>

        <div class="col-xs-12 col-sm-6 col-md-4 door1">
            <img src="assets/metal.jpg" alt="" class="img1" style="width: 20%; height: 10%; ">
            <h3>METAL DETECTOR</h3>
            <p>ET metal detectors are distinguished by cutting-edge technology and innovative solutions used, which guarantee high performance and simple use.
              The range of SCDM metal detectors, 
              Wide range of transducers available, both with panels and with columns, suitable for any installation space and able to maintain the interception capacities unaltered.</p>
        </div>

        <div class="col-sm-12 col-md-4 door">
            <img src="assets/img/security-booth.jpg" alt="" class="img" style="width: 50%; height: 50%;">
            <h3>Security Booths</h3>
            <p>Security booths, or anti-robbery booths, are designed by SAIMA for thehighest level of security, offering awide range of shapes, sizes and extra features. They are not only interlocking doors, but armored units equipped with the most sophisticated anti break-in tools.</p>
        </div>

        <div class="col-sm-12 col-md-4 door2" >
            <img src="assets/img/sliding-doors-300x222.jpg" alt="" class="img" style="width: 50%; height: 50%;">
            <h3>Automatic Sliding Doors</h3>
            <p>SAIMA Sicurezza automatic sliding doors can be constructed with the whole range of anti break-in devices– reinforced glass, double interlocking doors etc – and installed within limited space. An essential detail: this entire range of sliding pivot doors allows wheelchair access.</p>
        </div>

        <div class="col-sm-12 col-md-4 door">
            <img src="assets/img/autogate.jpg" alt="" class="img" style="width: 50%; height: 50%;">
            <h3>Automatic Pedestrian Gates</h3>
            <p>SAIMA Sicurezza automatic sliding doors can be constructed with the whole range of anti break-in devices– reinforced glass, double interlocking doors etc – and installed within limited space. An essential detail: this entire range of sliding pivot doors allows wheelchair access.</p>
        </div>

        <div class="col-sm-12 col-md-4 door3">
          <img src="assets/img/revolving-doors.png" class="img" alt="" style="width: 50%; height: 50%;">
          <h3 id="one">Revolving Doors</h3>
          <p>The revolving doors of Saima Sicurezza have been designed taking into consideration two essential aspects that the entrance of a building needs to have: an attractive design and an extreme security.</p>
      </div>

        
    


           <!-- our clients -->
		<div class="card">
			<h2 class="card-title text-center">
				Our Clients
			</h2>
			<div class="container-fluid padding">
					<div class="row text-center">
						
						<div class="col-sm-6 col-md-3">
							<img src="assets/img/uba.jpeg" alt="" style="width: 30%;">
						</div>
						<div class="col-sm-6 col-md-3">
							<img src="assets/img/fcmb.png " alt="" style="width: 30%;">
						</div>
						<div class="col-sm-6 col-md-3">
							<img src="assets/img/access.png" alt="" style="width: 30%;">
						</div>
						<div class="col-sm-6 col-md-3">
							<img src="assets/img/zenith.jpeg" alt="" style="width: 30%;">
						</div>
					</div>
				</div>
        </div>
        
        <!--- Meet the team -->
	<div class="container-fluid padding">
		<div class="row welcome text-center">
			<div class="col-12">
				<h1 class="display-4"> EXECUTIVE MANAGEMENT TEAM</h1>
			</div>
			<hr>
		</div>
	</div>
	<!--- Cards -->
	<div class="container-fluid padding">
		<div class="row padding">
			<div class="col-md-4">
				<div class="card">
					<img src="assets/img/IMG_8479 2.PNG" class="card-img-top" >
					<div class="card-body">
						<h4 class="card-title">Engr. Bode Ajayi</h4>
						<p>Team Lead</p>
						<p class="card-text"> Engr. Bode Ajayi is a Siama/Acetech accredited Engineer in the country with vairous international expierence. </p>
						<a href="#" class="btn btn-outline-secondary">See Profile</a>
					</div>
        </div>
        
        
        </div>
        <span class="cont">
         <p>
           Contact us, we will be happy to offer you our best<br> solution for your needs.
         </p> 
         <button id="dome" class="btn btn-primary">Contact Us</button>
        </span>

<div class="cara">
  <img src="assets/busso.jpg" alt="" class="busso"> 
 <span id="left" >
   <h2 class="idd">Competence, experience, transparency.</h2>
  <p class="col-sm-12 col-md-8">For thirty years on the market for the design, production and installation of anti-robbery compasses and metal detectors, in Acetech we believe that reliability, the quality of materials and a performing but simple maintenance mechanics are the winning cards of our products.</p>
  <a href="" routerLink="/about">FIND OUT WHO WE ARE </a>
 </span> 

 <img src="assets/homee.jpg" alt="" class="homee"> 
 <span class="right">
   <h2 class="idd">Quality, simplicity, reliability.</h2>
   <p class="col-sm-12 col-md-4">
    Acetech products are designed on the real needs of customers: management electronics with functionalities that guarantee the highest level of safety, reliable mechanics and simple maintenance, well-kept aesthetics and with quality finishes.
   </p>
 </span>
</div>            
	